In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-04-16 19:50:39,-23.1203,-134.9692,77.11,69,100,10.29
1,1,Bluff,NZ,2021-04-16 19:50:25,-46.6000,168.3333,42.01,94,92,5.01
2,2,Ushuaia,AR,2021-04-16 19:50:20,-54.8000,-68.3000,46.40,61,20,37.98
3,3,Kapaa,US,2021-04-16 19:50:40,22.0752,-159.3190,73.99,73,1,8.05
4,4,Ilulissat,GL,2021-04-16 19:50:40,69.2167,-51.1000,8.60,72,75,16.11

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum tempurature you would like for your trip?'))

What is the minimum temperature you would like for your trip? 75
What is the maximum tempurature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                      (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-04-16 19:50:39,-23.1203,-134.9692,77.11,69,100,10.29
9,9,Lorengau,PG,2021-04-16 19:50:41,-2.0226,147.2712,81.30,76,100,7.54
10,10,Belem De Sao Francisco,BR,2021-04-16 19:50:42,-8.7539,-38.9658,85.78,47,100,16.75
15,15,Hilo,US,2021-04-16 19:50:43,19.7297,-155.0900,78.80,53,1,4.85
24,24,Moron,AR,2021-04-16 19:50:46,-34.6534,-58.6198,78.01,59,0,4.00
...,...,...,...,...,...,...,...,...,...,...
555,555,Ambon,ID,2021-04-16 19:53:13,-3.6954,128.1814,80.71,76,37,7.94
561,561,Gamba,GA,2021-04-16 19:53:15,-2.6500,10.0000,78.91,87,85,4.23
567,567,Thinadhoo,MV,2021-04-16 19:53:16,0.5333,72.9333,82.15,63,46,3.47
568,568,Carutapera,BR,2021-04-16 19:53:17,-1.1950,-46.0200,78.46,89,100,7.54
572,572,Taoudenni,ML,2021-04-16 19:53:18,22.6783,-3.9836,86.83,13,100,9.53

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                      City Country  Max Temp      Lat       Lng Hotel Name
0                  Rikitea      PF     77.11 -23.1203 -134.9692
9                 Lorengau      PG     81.30  -2.0226  147.2712
10  Belem De Sao Francisco      BR     85.78  -8.7539  -38.9658
15                    Hilo      US     78.80  19.7297 -155.0900
24                   Moron      AR     78.01 -34.6534  -58.6198
26                    Trat      TH     81.00  12.5000  102.5000
28                  Tanout      NE     86.27  14.9709    8.8879
29                  Faanui      PF     82.63 -16.4833 -151.7500
33               Hithadhoo      MV     82.20  -0.6000   73.0833
48                 Kaduqli      SD     85.35  11.0167   29.7167

In [12]:
#Set parameters to search for a hotel.
params ={
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,77.11,-23.1203,-134.9692,Pension Maro'i
9,Lorengau,PG,81.30,-2.0226,147.2712,Lorengau Harbourside Hotel
10,Belem De Sao Francisco,BR,85.78,-8.7539,-38.9658,Village Hotel
15,Hilo,US,78.80,19.7297,-155.0900,Hilo Hawaiian Hotel
24,Moron,AR,78.01,-34.6534,-58.6198,Hotel Morón
...,...,...,...,...,...,...
555,Ambon,ID,80.71,-3.6954,128.1814,Swiss-Belhotel Ambon
561,Gamba,GA,78.91,-2.6500,10.0000,
567,Thinadhoo,MV,82.15,0.5333,72.9333,
568,Carutapera,BR,78.46,-1.1950,-46.0200,Lidera
572,Taoudenni,ML,86.83,22.6783,-3.9836,

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))